@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap');

body {
    background-color: #f2f2f2;
    font-family: 'Roboto Slab';
    color:  #404040;
    margin: auto;
    padding: 2rem;
    letter-spacing: .1rem;
    max-width: 38rem;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-width: 12ch;
}

@media (min-width: 320px) {
    header {
        flex-direction: row-reverse;
    }
}

li a {
    line-height: 35px;
    color: #828282;
    text-decoration: none;
    font-size: large;
}

li a:hover {
    color: #149641;
}

h1 {
    font-size: 40px;
    font-weight: 400;
}


.paragraph1 p {
    padding-top: 10px;
}

.paragraph2 p {
    text-align: justify;
    box-sizing: border-box;
}

.linkedin-badge {
    object-position: relative;
    padding-top: 4rem;
}

.linkedin-badge i {
    color: #828282;
}

.linkedin-badge:hover {
    opacity:  0.6;
}

.photo {
    max-width: 250px;
}

img {
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 20px #ccc; 
    border-radius:  20px; 
}
