@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap');

/* This is a comment */

body {
    background-color: #f2f2f2;
    font-family: 'Roboto Slab';
}

h1, p {
    color: #363434;
    margin-left: 20px;
}
