@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300&display=swap');

body {
    background-color: #f5f5f5;
    font-family: 'Roboto Slab';
    color: #33373b;
    margin: auto;
    padding: 1.4rem;
    letter-spacing: .06rem;
    word-spacing: 0.4rem;
    line-height: 1.6;
    max-width: 38rem;
    font-weight: 400;
}

nav {
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 115%;
    padding-top: 10px;
    text-align: justify-all;
    word-spacing: 0.7rem;
}

nav a {
    line-height: 30px;
    color: #828282;
    text-decoration: none;
    list-style-type: none;
}

nav a:hover {
    color: #7396d1;
}

header {
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 320px) {
    header {
        flex-direction: row-reverse;
    }
}

h1 {
    padding-top: 30px;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 45px;
    text-align: left;
}

h2 {
    font-family: roboto mono;
    padding-top: 5px;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 45px;
    text-align: left;
}

.photo {
    max-width: 280px;
    padding: 0.3em;
}

.paragraph1 p {
    font-size: 95%;
}

/* RESUME, BLOG AND CONTACT */

.resume h3 {
    font-size: 110%;
    padding-top: 10px;
    line-height: 23px;
    color: #7396d1;
    white-space: normal;
    width: auto;
}

.resume h4 {
    font-family: roboto mono;
    font-size: 95%;
    color: #828282;
    font-style: italic;
    line-height: 3px;
    margin-bottom: 30px;
}


.resume p {
    font-size: 90%;
    margin-bottom: 0.8px;
}

.blogposts {
    font-family: roboto mono;
    font-size: 110%;
}

.blogposts a {
    text-decoration: none;
    list-style-type: none;
    color: #7396d1;
}

.blogposts a:hover {
    text-decoration: underline;
}

img {
    margin-top: 15px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 20px #ccc;
    border-radius: 10px;
}

.contactphoto img {
    max-width:190px;
    margin-bottom: 10px;
}

a:link {
    color: #7396d1;
}

.email a:hover {
    opacity: 0.6;
}

.linkedin-badge {
    object-position: relative;
    padding-top: 1.2rem;
}

.linkedin-badge i {
    color: #828282;
}

.linkedin-badge:hover {
    opacity: 0.6;
}
